@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

:root {
	--dtransparencycolor:			0,0,0;
	--dtransparencyalpha:			0.15;
	--dmessagetransparency:			0.5;
	--dguildchanneltransparency:	0.15;
	--dmemberlisttransparency:		0.0;
	--daccentcolor:					190,78,180;
	
	--dfont:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	--dtextshadow:					transparent;
	
	--dbackground:					url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/_res/background.jpg);
	--dbackgroundsize:				cover;
	--dbackgroundposition:			center;
	--dblur:						unset;
	--dbackdrop:					rgba(0,0,0,0.85);

	--vtransparencycolor:			var(--transparencycolor,			var(--dtransparencycolor));
	--vtransparencyalpha:			var(--transparencyalpha,			var(--dtransparencyalpha));
	--vmessagetransparency:			var(--messagetransparency,			var(--dmessagetransparency));
	--vusechatbubbles: 				calc(var(--vmessagetransparency) / (var(--vmessagetransparency) + 0.00000000000000000000001));
	--vguildchanneltransparency:	var(--guildchanneltransparency,		var(--dguildchanneltransparency));
	--vmemberlisttransparency:		var(--memberlisttransparency,		var(--dmemberlisttransparency));
	--vaccentcolor2:				var(--vaccentcolor);
	--vlinkcolor:					var(--vaccentcolor);
	
	--vfont:						var(--font,							var(--dfont));
	--vtextshadow:					var(--textshadow,					var(--dtextshadow));
	
	--vbackground:					var(--background,					var(--dbackground));
	--vbackgroundposition:			var(--backgroundposition,			var(--dbackgroundposition));
	--vbackgroundsize:				var(--backgroundsize,				var(--dbackgroundsize));
	--vbackgroundblur:				var(--backgroundblur,				var(--dblur));
	
	--vpopout:						var(--popout,						var(--vbackground));
	--vpopoutposition:				var(--backgroundposition,			var(--vbackgroundposition));
	--vpopoutsize:					var(--popoutsize,					var(--vbackgroundsize));
	--vpopoutblur:					var(--popoutblur,					var(--vbackgroundblur));
	
	--vbackdrop:					var(--backdrop,						var(--dbackdrop));
	--vbackdropposition:			var(--backgroundposition,			var(--vbackgroundposition));
	--vbackdropsize:				var(--backdropsize,					var(--vbackgroundsize));
	--vbackdropblur:				var(--backdropblur,					var(--vbackgroundblur));

	--fontwhite1: 					255,255,255;
	--fontwhite2: 					210,210,210;
	--fontwhite3: 					170,170,170;
	--fontwhite4: 					120,120,120;
}

.theme-light, .theme-dark {
	--header-primary: rgb(var(--fontwhite1));
	--header-secondary: rgb(var(--fontwhite2));
	--text-normal: rgb(var(--fontwhite2));
	--text-muted: rgb(var(--fontwhite4));
	--text-link: rgb(var(--vaccentcolor));
	--channels-default: rgb(var(--fontwhite4));
	--interactive-normal: rgb(var(--fontwhite3));
	--interactive-hover: rgb(var(--fontwhite2));
	--interactive-active: rgb(var(--fontwhite1));
	--interactive-muted: rgb(var(--fontwhite4));
	--elevation-low: 0 1px 5px 0 rgba(var(--vtransparencycolor), 0.3);
	--elevation-high: 0 2px 10px 0 rgba(var(--vtransparencycolor), 0.3);
	--logo-primary: rgb(var(--fontwhite1));
}


/* ~~~~		0.		TABLE OF CONTENTS				~~~~ */
/*
	1.	TRANSPARENCY
	2.	BACKGROUND
	3.	TITLEBAR
	4.	GUILDLIST
	5.	CHANNELLIST
		1.	GUILDHEADER
		2.	CHANNELS
		3.	DMCHANNELS
		4.	ACCOUNT/VOICE/GOLIVE
	6.	CHAT
		1.	CHANNELHEADER
		2.	MESSAGES
			1.	MESSAGE
			2.	EMBEDS
			3.	NITROGIFT
			4.	INVITE
		3.	TEXTAREA
		4.	AUTOCOMPLETEMENU
		5.	MEMBERLIST
		6.	SEARCHPAGE
		7.	CALL
		8.	UNAVAILABLESCREEN
	7.	PEOPLES
	8.	STORE/NITRO
	9.	LIBRARY
	10.	DISCOVERY
	11.	USERSETTINGS
	12.	GUILDSETTINGS
	13.	MODALS
		1.	USERMODAL
		2.	GUILDADD/CREATION
		3.	REGIONSELECTMODAL
		4.	UPLOADMODAL
		5.	KEYBOARDSHORTCUTSMODAL
		6.	QUICKSWITCHER
		7.	INVITEMODAL/GROUPCREATE
		8.	LOGINSCREEN
		9.	TERMACCEPTMODAL
		10.	DOWNLOADAPPMODAL
		11.	GUILDBOOSTMODAL
		12.	REACTIONSMODAL
		13.	GUILDTEMPLATEMODAL
		14.	GUILDWELCOMEMODAL
		15.	GUILDRULESMODAL
		16.	GUILDFEEDBACKMODAL
		17.	SCREENSHAREMODAL
		18.	PHONEVERIFICATIONMODAL
	14.	POPOUTS
		1.	CONTEXTMENU
		2.	USERPOPOUT
		3.	EMOJIPICKER
		4.	PINS/MENTIONS
		5.	SEARCHPOPOUT
		6.	COLORPICKER
		7.	ADDROLE
		8.	EVERYONEMENTION
		9.	CHANNELFOLLOW
		10.	CHANNELFOLLOWINFO
		11.	EMOJIINFO
		12.	STREAMPREVIEW
		13.	STREAMINFO
		14.	PUBLICGUILDANNOUNCEMENT
	15.	GENERAL
		1.	TEXT
		2.	BUTTONS
		3.	INPUTS
		4.	SEARCHBARS
		5.	TAGS
		6.	ICONS
		7.	SCROLLBARS
		8.	NOTIFICATIONBAR
		9.	TOOLTIPS
	16.	BDSUPPORT
	17.	POWERCORDSUPPORT
	18.	PLUGINSUPPORT
		1.	BDFDB
		2.	DATEVIEWER
		3.	SERVERFOLDERS
		4.	MEMBERCOUNT
		5.	CHARCOUNTER
		6.	LINENUMBERS
		7.	PERMISSIONVIEWER
		8.	DIRECTDOWNLOAD
		9.	BETTERFORMATINGREDUX
		10.	PLUGIN/THEMEREPO
		11.	CHANNELHISTORY
		12.	CHANNELTABS
		13.	TYPINGINDICATOR
	19.	UPDATENOTICE
	20.	WATERMARK
*/
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT::after {
	content: "Discord" !important;
	font-size: 12px !important;
	color: var(--text-muted) !important;
	cursor: pointer !important;
	display: inline !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: text !important;
	visibility: visible !important;
	position: relative !important;
	top: unset !important;
	left: unset !important;
	bottom: unset !important;
	right: unset !important;
	transform: unset !important;
	animation: unset !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT::before {
	content: "Qiikzx" !important;
	font-size: 12px !important;
	color: rgb(var(--vaccentcolor)) !important;
	display: inline !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: pointer !important;
	visibility: visible !important;
	position: absolute !important;
	top: unset !important;
	left: 113px !important;
	bottom: 9px !important;
	right: unset !important;
	transform: unset !important;
	animation: unset !important;
}
